* {
  padding: 0;
  margin: 0;
}

p {
  color: #fff;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

h1 {
  color: var(--Wei, #fff);
  font-family: "Chronicle Display", sans-serif;
  font-size: 88px;
  font-weight: 300;
  line-height: 100px; /* 113.636% */
  text-transform: capitalize;
}

h2 {
  color: #fff;
  font-family: "Chronicle Display", sans-serif;
  font-size: 64px;
  font-weight: 300;
}

h3 {
  color: var(--Wei, #fff);
  font-family: "Chronicle Display", sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}

h4 {
  color: var(--Accent, #fbd784);
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

body {
  background-color: #0b1d26;
}

/* бэкграунд */
.bg {
  width: 100%;
  position: relative;
  z-index: 2;
}

.bg img {
  width: 100%;
}

.filter-top {
  background: linear-gradient(330deg, rgba(11, 29, 38, 0) 31%, #0b1d26 109%);

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 1200px;
  z-index: 2;
}

.filter-bot {
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.5%);

  position: absolute;
  top: 1200px;
  left: 0;

  width: 100%;
  height: 700px;
  z-index: 2;
}

.top {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 736px;
  z-index: 1;
}

.mid {
  position: absolute;
  top: 464px;
  left: 0;

  height: 1483px;
  width: 100%;
  z-index: 1;
}

.mid img {
  height: 1422px;
}

.bot {
  position: absolute;
  top: 768px;
  left: 0;

  width: 100%;
  z-index: 1;
}

/* хэдер */
header {
  position: relative;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 64px 80px 0;
}

header p {
  line-height: normal;
}

.menu {
  display: flex;
  gap: 40px;
}

.account {
  display: flex;
  gap: 8px;
}

/* контент */
main {
  position: relative;
  z-index: 3;
  padding: 200px 80px 0;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 843px;
}

/* соц сети */
.content-header__socials {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content-header__socials p {
  writing-mode: vertical-lr;
}

.content-header__img {
  width: 24px;
  height: 24px;
}

/* тайтл */
.content-header__title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 950px;
}

.annotation {
  display: flex;
  align-items: center;
  gap: 32px;
}

.annotation__line {
  background: var(--Accent, #fbd784);
  display: block;
  width: 72px;
  height: 2px;
}

.annotation p {
  color: var(--Accent, #fbd784);
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;
}

/* скролл вниз */
.content-header__scroll {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* пагинация */
.content-header__pagination {
  display: flex;
  align-items: center;
  gap: 32px;
}

.content-header__text p {
  line-height: normal;
  text-align: end;
}

.content-header__text p:not(:last-child) {
  margin-bottom: 40px;
}

.content-header__line {
  display: block;
  height: 60px;
  width: 3px;

  background: #fff;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

/* карточки */
.card-wrapper {
  padding: 0 150px;
}

.card {
  position: relative;
  width: 1462px;
  height: 720px;

  display: flex;
  align-items: center;
  margin-bottom: 200px;
}

.card__text {
  padding: 141px 114px 140px 150px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__number {
  position: absolute;
  top: 38px;
  left: 0;
}

.card__number p {
  font-size: 240px;
  font-weight: 700;
  line-height: 240px; /* 100% */

  opacity: 0.1;
}

.card__read-more {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card__read-more p {
  color: var(--Accent, #fbd784);
}

.reverse-card {
  flex-direction: row-reverse;
}

.reverse-card__text {
  padding: 141px 0 140px 264px;
}

.reverse-card__number {
  left: 680px;
}

/* футер */
footer {
  padding: 0 229px 120px;
}

.footer__head {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

/* .footer__head .logo{
  flex: 0.9;
}

.footer__head .logo ~ div {
  display: flex;
  gap: 212px;
}

.footer__head .logo ~ div h4:last-child{
  margin-right: 10px;
} */
.footer__main {
  display: flex;
}

.left-part {
  flex: 0.6;
}

.right-part {
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex: 0.2;
  gap: 16px;
}

.right-part:not(:last-child) {
  margin-right: 70px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer__content p:not(:last-child) {
  width: 303px;
}

.footer__copyright {
  font-weight: 500;
  opacity: 0.5;
}

.right-part p {
  font-weight: 500;
}
