* {
  padding: 0;
  margin: 0;
}

:root {
  --Wei: #fff;
  --Accent: #fbd784;
  --Gradient: rgba(11, 29, 38, 0);
  --Background: #0b1d26;
}

p {
  color: var(--Wei);
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

h1 {
  color: var(--Wei);
  font-family: "Chronicle Display", sans-serif;
  font-size: 88px;
  font-weight: 300;
  line-height: 100px;
  text-transform: capitalize;
}

h2 {
  color: var(--Wei);
  font-family: "Chronicle Display", sans-serif;
  font-size: 64px;
  font-weight: 300;
}

h3 {
  color: var(--Wei);
  font-family: "Chronicle Display", sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}

h4 {
  color: var(--Accent);
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

body {
  background-color: var(--Background);
  overflow-x: hidden;
}

.bg {
  width: 100%;
  position: relative;
  z-index: 2;
}

.bg img {
  width: 100%;
}

.filter-top {
  background: linear-gradient(
    330deg,
    var(--Gradient) 31%,
    var(--Background) 109%
  );

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 1200px;
  z-index: 2;
}

.top {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 736px;
  z-index: 1;
}

.mid {
  position: absolute;
  top: 464px;
  left: 0;

  height: 1483px;
  width: 100%;
  z-index: 1;
}

.mid img {
  height: 1422px;
}

.bot {
  position: absolute;
  top: 768px;
  left: 0;

  width: 100%;
  z-index: 1;
}

.bot::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35%;
  background: linear-gradient(to top, #0b1d26, #0b1d26, rgba(11, 29, 38, 0));
  pointer-events: none;
}

header {
  position: relative;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 64px 80px 0;
}

header p {
  line-height: normal;
}

.menu {
  display: flex;
  gap: 40px;
}

.account {
  display: flex;
  gap: 8px;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 843px;

  position: relative;
  z-index: 3;
  padding: 200px 80px 0;
}

.content-header__socials {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content-header__socials p {
  writing-mode: vertical-lr;
}

.content-header__img {
  width: 24px;
  height: 24px;
}

.content-header__title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 950px;
}

.annotation {
  display: flex;
  align-items: center;
  gap: 32px;
}

.annotation__line {
  background: var(--Accent);
  display: block;
  width: 72px;
  height: 2px;
}

.annotation p {
  color: var(--Accent);
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.content-header__scroll {
  display: flex;
  align-items: center;
  gap: 16px;
}

.content-header__pagination {
  display: flex;
  align-items: center;
  gap: 32px;
}

.content-header__text p {
  line-height: normal;
  text-align: end;
}

.content-header__text p:not(:last-child) {
  margin-bottom: 40px;
}

.content-header__line {
  display: block;
  height: 60px;
  width: 3px;

  background: var(--Wei);
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.card-wrapper {
  padding: 100px 50px;
  background-color: var(--Background);

  position: relative;
  z-index: 3;
  padding: 200px 80px 0;
}

.card {
  position: relative;
  width: 1200px;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
  margin-bottom: 200px;

  padding: 0 50px;
}

.card__text {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card:first-child .card__number {
  position: absolute;
  top: -85px;
  left: -63px;
}

.card__number {
  position: absolute;
  top: -80px;
  left: -70px;
}

.card__number p {
  font-size: 200px;
  font-weight: 700;
  line-height: 200px;

  opacity: 0.1;
}

.card__read-more {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card__read-more p {
  color: var(--Accent);
}

.card__img img {
  height: 500px;
}

.reverse-card {
  flex-direction: row-reverse;
}

.reverse-card__text {
  padding: 40px 0;
}

.reverse-card__number {
  left: 465px;
}

footer {
  padding: 0 229px 120px;
}

.footer__head {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.footer__main {
  display: flex;
}

.left-part {
  flex: 0.6;
}

.right-part {
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex: 0.2;
  gap: 16px;
}

.right-part:not(:last-child) {
  margin-right: 70px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer__content p:not(:last-child) {
  width: 303px;
}

.footer__copyright {
  font-weight: 500;
  opacity: 0.5;
}

.right-part p {
  font-weight: 500;
}

@media screen and (max-width: 1500px) {
  .mid img {
    height: 1000px;
  }

  .content-header {
    padding: 150px 80px 0;
    margin-bottom: 684px;
  }

  .content-header__title {
    width: 600px;
  }

  .annotation__line {
    width: 50px;
  }

  h1 {
    font-size: 60px;
    line-height: 80px;
  }

  h2 {
    font-size: 45px;
  }

  .card-wrapper {
    padding: 0 20px;
  }

  .card {
    width: 900px;
    height: 400px;
    margin-bottom: 50px;
    gap: 100px;
    padding-left: 100px;
  }

  .card__text {
    padding: 20px 8px;
    gap: 12px;
  }

  .card__img img {
    height: 300px;
  }

  .card:first-child .card__number {
    position: absolute;
    top: -80px;
    left: 19px;
  }

  .card__number {
    position: absolute;
    top: -90px;
    left: 17px;
  }

  .reverse-card__number {
    top: -80px;
    left: 345px;
  }

  .card__number p {
    font-size: 150px;
  }

  footer {
    padding: 0 150px 80px;
  }
}
@media screen and (max-width: 1200px) {
  .filter-bot {
    top: 900px;
  }
}
